body {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  margin: 0;
  z-index: -1000;
}

header>nav {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: flex-end;
}

header>nav>ul {
  all: unset;
  display: flex;
  justify-self: center;
  gap: 2rem;
}

ul>li {
  all: unset;
  color: white;
  text-transform: uppercase;
}

ul>li>a {
  all: unset;
  font-size: 2.5rem;
}

ul>li:hover {
  background-color: white;
  color: black;
}