@font-face {
  font-family: "PPMonumentExtended-Black";
  src:
    local("PPMonumentExtended-Black"),
    url("./assets/fonts/PPMonumentExtended-Black.otf") format("opentype");
}

.monumentextended-black {
  font-family: "PPMonumentExtended-Black", sans-serif;
  font-style: normal;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.red-hat-display-regular {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-display-semibold {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.red-hat-display-bold {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  margin: 0;
  z-index: -1000;
}

h2 {
  font-size: 2rem;
  font-style: normal;
  max-width: 60ch;
  text-align: end;
  margin: 0;
  color: #110d05;
}

article {
  display: flex;
  gap: 1rem;
  color: #110d05;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: underline;
  color: inherit;
  font-style: normal;
}

a:hover {
  opacity: 70%;
}